 <h1> To-Do List </h1>
 <ul class="list-unstyled">
 <% @tasks.each do |task| %>
    <li>
    <i class="<%= task.completed == true ? 'far fa-check-square' : 'far fa-square'%>"></i></a>
    <%= link_to task.title, task_path(task) %>
    <%= link_to task_path(task), method: :delete, data: {confirm: "Are you sure?"} do %>
      <i class="far fa-trash-alt"></i>
    <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "tasks/new" do %>
 <i class="fas fa-plus"> add a new task </i>
 <% end %>
